
header{
    width: 980px;
    height: 200px;
    background: #0a92e0;
   }
   header img{
      padding-left: 30px;
   
   }
   nav h2{
       width: 150px;
       background-color: #ff3da8;
       padding:12px 48px ;
      border-radius: 70px;
      
   }
   nav.menu  tr{
    list-style: none;
    background-color: rgb(255, 255, 255);
   
    
    
   }
   nav.menu table tr td{
       float: left;
       line-height: 200px;
      padding: 0 15px;
      margin: 0;
     font-family:  "Roboto",sans-serif;
       
   }
   nav.search{
       line-height: 25px;
       float: right;
       padding: 0 15px;
   }
   table.menu  tr td a{
       color: #fff;
       font-size: 20px;
    text-decoration: none;
   }
   table.like tr td a{
       text-decoration: none;
       color: rgba(13, 105, 224, 0.986);
   }
   table.likes tr td a{
       text-decoration: none;
       color: rgba(13, 105, 224, 0.986);
   }
   table.menu_chid tr td a {
   display: none;
   }.menu tr td a table.menu_chid tr td a{
   
   display: block;
   }
   
   table.name{
       background-color: #99CC00;
   }
   nav.cua a{
   
     text-decoration: none;
   }
   nav.tomcang a{
   
       text-decoration: none;
       
     }
    table.like tr td  {
   
   border: 1px solid none;
   padding:0 15px;
      
    }
    table.likes tr td  {
   
        border: 1px solid none;
        padding:0 15px;
           
         }
         video{
             bottom: 0;
        position: fixed;
             right:  0;
         }
         table.like tr.cv td b{
         background-color: #ff623d;
         padding:12px 48px ;
        border-radius: 50px;


         }
         table.likes tr.cv td b{
            background-color: #ff623d;
            padding:12px 48px ;
           border-radius: 50px;
   
   
            }
body.anh{
    background-image: url(http://2.bp.blogspot.com/-MobBV7yKrJY/UgR8c_h1sAI/AAAAAAAACmk/x211qftvLRs/s1600/anh-dep-ve-bien-3.jpg);
}
 nav.menu_color{
    width: 980px;
    background: rgb(1, 49, 63);
 }           
  
